version: "3.8"
services:
  fraud-ui:
    build:
      context: .
      dockerfile: Dockerfile
    image: fraud-detection-ui:latest
    ports:
      - "5001:5001"
    environment:
      - DISABLE_SHAP=0        # установи 1 если не хочешь загружать shap
      - FLASK_ENV=production
    volumes:
      - ./artifacts:/app/artifacts:rw     # если есть готовые pipeline/meta/shap — монтируй сюда
      - ./data:/app/data:ro
      - ./templates:/app/templates:ro
      - ./static:/app/static:ro
    restart: unless-stopped
    shm_size: '1gb'   # SHAP может потребовать разделяемой памяти